<aside class="main-sidebar sidebar-dark-primary elevation-4" style="display:block">
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light d-flex flex-column align-items-center">TonToff</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-header">Menu</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-gear"></i>
                        <p>
                            Configuração
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-plug nav-icon"></i>
                                <p>
                                    Dispositivos Adicionados
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-link nav-icon"></i>
                                        <p>LinkConnect1: Quarto</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-link nav-icon"></i>
                                        <p>LinkConnect2: Cozinha</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-link nav-icon"></i>
                                        <p>LinkConnect3: Sala</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-link nav-icon"></i>
                                        <p>LinkConnect4: Banheiro </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-link nav-icon"></i>
                                        <p>LinkConnect: Lavanderia </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/lightcontrol" class="nav-link">
                                <i class="far fa-lightbulb nav-icon"></i>
                                <p> Controle de Luzes </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">Outros</li>
                <li class="nav-item">
                    <a href="/howtowork" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p> Como usar </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">
                        <i class="nav-icon fas fa-circle-info"></i>
                        <p> Sobre </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>