<div class="content-header">
    <h1>Como Funciona:</h1>
</div>
<div class="content px-2">
    <p>Utilizando a mais recente tecnologia de automação e conectividade, nosso sistema permite aos usuários acessar e
        controlar a iluminação de qualquer lugar do mundo, desde que haja uma conexão à internet. A simplicidade de uso
        é uma das principais características do nosso produto. Basta acessar a interface amigável através do site
        dedicado ou de um aplicativo móvel intuitivo, para ajustar as luzes conforme desejado. Seja para alterar a
        intensidade, mudar as cores, programar horários ou criar ambientes específicos, tudo pode ser feito com apenas
        alguns cliques.</p>
</div>
<div class="content-header">
    <h1>Registro e Configuração Inicial:</h1>
</div>
<div class="content px-2">
    <p>Na página de configurações do sistema, os usuários podem acessar a opção de "Adicionar Dispositivo".</p>
</div>
<div class="content-header">
    <h1>Ativação da Lâmpada Inteligente:</h1>
</div>
<div class="content px-2">
    <p>Certifique-se de que a lâmpada inteligente esteja pronta para a configuração inicial. Geralmente, é necessário
        seguir as instruções do fabricante para colocar a lâmpada no modo de pareamento ou configuração.</p>
</div>
<div class="content-header">
    <h1>Identificação e Conexão na Rede Wi-Fi:</h1>
</div>
<div class="content px-2">
    <p>O usuário será solicitado a selecionar a rede Wi-Fi à qual deseja conectar a lâmpada inteligente. É necessário
        que o dispositivo (como um smartphone ou computador) esteja conectado à mesma rede Wi-Fi para facilitar o
        processo de emparelhamento.</p>
</div>
<div class="content-header">
    <h1>Configuração no Sistema:</h1>
</div>
<div class="content px-2">
    <p>Na página web do sistema de controle de iluminação, será exibida uma lista de dispositivos disponíveis para
        conexão. Ao selecionar "Adicionar Dispositivo" ou uma opção semelhante, a busca por novos dispositivos será
        iniciada.</p>
</div>
<div class="content-header">
    <h1>Controle da Lâmpada Inteligente:</h1>
</div>
<div class="content px-2">
    <p>Agora que a lâmpada inteligente está conectada ao sistema, ela estará disponível para controle na página
        específica do ambiente em que foi instalada. Os usuários poderão ajustar a intensidade, cor (se aplicável),
        ligar/desligar e programar o funcionamento da lâmpada de forma remota através do site.</p>
</div>
<div class="content-header">
    <h1>Confirmação e Nomeação:</h1>
</div>
<div class="content px-2">
    <p>Após a conclusão da conexão, será possível confirmar a inclusão da lâmpada inteligente no sistema. Nomeie a
        lâmpada conforme o ambiente em que ela está localizada, como "Sala de Estar", "Quarto Principal", etc., para
        facilitar o controle e identificação posterior.</p>
</div>